@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Manrope:wght@300&family=Noto+Sans:wght@100&family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;1,100;1,200;1,300;1,400&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Outfit;
  background-color: #121212;
}

#root{
  min-height: 100vh;
  display: flex;
  animation: fadeIn 1.5s; 
}


@keyframes fadeIn {
  0%{
    opacity: 0;

  }
  100%{
    opacity: 1;
  }
}